* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-background: rgb(27, 28, 32);
  --sidebar-background: rgb(50, 52, 53);
  --item-background: rgb(49, 49, 51);
  --item-background-hover: rgb(79, 79, 79);
  --text-color: white;
  --list-header-background: rgb(61, 61, 63);
}

#folderPicker,
#viewButton {
  font-size: 1rem;
  padding: 8px 12px;
  margin: 8px auto;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid rgb(126, 126, 126);
  color: var(--text-color);
}

#folderPicker:hover,
#viewButton:hover {
  background-color: rgb(76, 76, 76);
}

.lds-ring {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main-background);
  z-index: 100;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 164px;
  height: 164px;
  margin: 8px;
  border: 18px solid rgb(79, 182, 233);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(85, 176, 222) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: var(--main-background);
  font-family: Arial, Helvetica, sans-serif;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  place-items: center;
  gap: 16px;
  padding: 8px;
}

.book-grid li {
  list-style: none;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(67, 67, 67);
  cursor: pointer;
  background-color: var(--item-background);
}

.book-grid li:hover {
  background-color: var(--item-background-hover);
}

.book-grid img {
  max-width: 100%;
  max-height: 250px;
  margin: 0 auto;
  background-color: black;
}

.book-grid h1 {
  font-size: 14px;
  padding: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

.book-grid p {
  padding-bottom: 6px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

.book-list {
  margin: 12px;
  display: grid;
  gap: 1px;
}

.book-list li {
  display: grid;
  grid-template-columns: 250px 250px 60px 50px 75px 75px 75px 1fr;
  align-items: center;
  gap: 1px;
  cursor: pointer;
  color: var(--text-color);
}

.book-list li:hover p,
.book-list li:hover button {
  background-color: var(--item-background-hover);
}
.book-list li:first-child:hover p {
  background-color: var(--list-header-background);
}

.book-list p:nth-child(3) {
  text-align: right;
}

.book-list p:nth-child(4) {
  text-align: right;
}

.book-list p:nth-child(5) {
  text-align: right;
}

.book-list p:nth-child(6) {
  text-align: right;
}

.book-list li:first-child p {
  text-align: center;
  background-color: var(--list-header-background);
}
.book-list li:first-child p:hover {
  text-align: center;
  background-color: var(--item-background-hover);
}

.book-list p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px 8px;
  background-color: var(--item-background);
}

.readButton {
  border: none;
  background-color: var(--item-background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.readButton img {
  width: 18px;
  height: 18px;
}

.book-list .readButton:hover {
  background-color: rgb(90, 90, 90);
}

main {
  display: grid;
  grid-template-columns: 300px 1fr;
}

section {
  position: relative;
  height: 100vh;
}

#sidebar {
  background-color: var(--sidebar-background);
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

#sidebarBook {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#sidebarDetails {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebarBook h1 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 4px;
}

#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 19, 19);
}

#sidebarBook img {
  max-width: 300px;
  max-height: 300px;
}

#seekBar {
  width: 288px;
  height: 10px;
  background-color: rgb(125, 125, 125);
  margin: 6px;
  cursor: pointer;
}

#seekBarInner {
  height: 10px;
  background-color: rgb(63, 108, 255);
}

#timeContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 4px;
  font-size: 14px;
}

#buttonsContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

#buttonsContainer > button {
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  border: none;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  min-width: 48px;
  color: var(--text-color);
}

#buttonsContainer > button:hover {
  background-color: rgb(85, 85, 85);
}

#buttonsContainer img {
  width: 24px;
  height: 24px;
}

#playButton img {
  width: 48px;
  height: 48px;
}

#buttonsContainer span {
  display: block;
  position: absolute;
  bottom: 0;
}

#notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
}
