* {
  padding: 0;
  margin: 0;
}

#root {
  border: none;
}

#root > div {
  padding: 0;
  border: none;
}

/* #root > div > div {
  padding: 0;
  border: none;
} */

div {
  padding-left: 24px;
  border-left: 1px solid rgb(207, 207, 207);
}

h3 {
  margin: 8px 0;
}

p {
  padding: 4px 0;
}